{% extends 'master.html' %}
<!-- buat nge load cart tag -->
{% load cart_tag %} 
{% block body %}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <a href="{% url 'cart_clear' %}">Clear Cart</a>
                    <p><strong>Note:</strong>untuk pembayaran kami menggunakan sistem Cash On Delivery (COD)</p>
                    {% for key,value in request.session.cart.items %}
                    <tr>
                        <td class="cart_product">
                            <a href=""><img src="{{ value.image }}" style="width: 150px;"></a>
                        </td>
                        <td class="cart_description" style="padding-left: 30px;">
                            <h4><a href="">{{ value.name }}</a></h4>
                        </td>
                        <td class="cart_price">
                            <p>Rp. {{ value.price }}</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                {% if value.quantity == 1 %}
                                <a class="cart_quantity_down" href="#">-</a>
                                {% else %}
                                <a class="cart_quantity_down" href="{% url 'item_decrement' value.product_id %}">-</a>
                                {% endif %}
                                <input class="cart_quantity_input" type="text" name="quantity" value="{{value.quantity}}" autocomplete="off" size="2">
                                <a class="cart_quantity_up" href="{% url 'item_increment' value.product_id %}"> + </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">Rp. {{ value.price|multiply:value.quantity|floatformat:"0" }}</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href="{% url 'item_clear' key %}"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <td></td>
                    <td></td>
                    <td>
                        <hr><h4>Sub Total:</h4>
                    </td>
                    <td></td>
                    <td>
                        <hr><h3>Rp. {{cart_total_amount|floatformat:"0"}}</h3>
                    </td>
                </tfoot>
            </table>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="float: right;">Checkout</button>
    </div>
</section> <!--/#cart_items-->
<br>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel" style="float: left;">New message</h2>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" style="float: right; position: relative;"></button><br>
      </div>
      <div class="modal-body">
        <form method="post" action="/checkout/">
          {% csrf_token %}
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Phone:</label>
            <input type="text" class="form-control" name="phone" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Address:</label>
            <textarea class="form-control" name="address" id="message-text"></textarea>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Kode Pos:</label>
            <input type="text" class="form-control" name="pincode">
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Checkout</button>
          </div>
        </form> 
        
      </div>
    </div>
  </div>
</div>

{% endblock %}
